*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container{
    width: 1440px;
    height: 1024px;
    background-color: #F3F5FC;
    margin: 0 auto;
    position: relative;
}

/* LOGO DA ALURA */
 .header img{
    width: 32px;
    margin-top: 40px;
    margin-left: 84px;
}

/* ÁREA DE INSERÇÃO DO TEXTO */
.conteudo textarea{
    position: absolute;
    left: 240px;
    top: 168px;
    width: 680px;
    height: 288px;
    background-color: transparent;
    border: none;
    font-size: 32px;
    color: #0A3871;
    line-height: 150%;
    text-transform: lowercase;
}

.conteudo textarea::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #0A3871;
    line-height: 48px;
}


/* RESULTADO DA CRIPTOGRAFIA */
.resultado{
    display: flex;                                           
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: #fff;
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.resultado-tela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.resposta{
    display: none;
    border: none;
    font-size: 24px;
    line-height: 36px;
    color: #495057;
    width: 336px;
    height: 781px;
    background: transparent;
    text-transform: lowercase;
}


.resultado img{
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 283px;
}

.resultado h2{
    font-size: 24px;
    color: #343440;
    line-height: 28px;
    padding: 0 32px;
    text-align: center;
}

.resultado p{
    font-weight: 400;
    color: #495057;
    font-size: 16px;
    text-align: center;
    padding: 0 32px;
}



/* BOTÕES */
.botoes p{
    position: absolute;
    top: 851px;
    left: 264px;
    font-size: 12px;
    line-height: 18px;
    color: #495057;
    opacity: 80%;
}

.botoes img{
    position: absolute;
    top: 851px;
    left: 240px;
    color: #495057;
    opacity: 80%;
}

.btn{
    width: 328px;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    top: 885px;
    height: 67px;
    padding: 24px;
    cursor: pointer;
    border-radius: 24px;
    transition: all .5s;
}

.copiar{
    top: 845px;
    left: 32px;
    display: none;
}

.botoes .criptografar{
    color: #fff;
    left: 240px;
    padding: 24px;
    background: #0A3871;
}

.botoes .criptografar:hover{
    background: #343440;
    color: #fff;
}

.botoes .descriptografar{
    color: #0A3871;
    left: 592px;
    height: 67px;
    background: #D8DFE8;
}

.botoes .descriptografar:hover{
    background: #343440;
    color: #fff;
}

/* FOOTER */
.footer h3{
    position: absolute;
    width: 100%;
    top: 985px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 10px 32px;
    background-color: #0A3871;;
}

.sumir{
    display: none;
}

.aparecer{
    display: block;
}

/* MEDIA PARA TABLET */
@media screen and (max-width: 768px){
    .container{
        width: 768px;
        height: 1174px;
    }
    .conteudo textarea{
        left: 40px;
    }

    .resultado{
        width: 688px;
        height: 133px;
        left: 40px;
        top: 1001px;
    }

    .resultado img, .copiar{
        display: none;
    }

    .botoes img{
        top: 837px;
        left: 40px;
    }

    .botoes p{
        top: 836px;
        left: 64px;
    }

    
    .btn{
        top: 870px;
    }
    .botoes .criptografar{
        left: 40px;
    }
    
    .botoes .descriptografar{
        left: 396px;
    }
    
    .footer h3{
        top: 1170px;
    }
    
}

/* MEDIA PARA CELULAR */

@media screen and (max-width: 375px){
    .container{
        width: 375px;
        height: 933px;
    }

    .header img{
        width: 32px;
        margin-top: 24px;
        margin-left: 16px;
    }
    .conteudo textarea{
        width: 343px;
        left: 16px;
    }

    .resultado{
        width:327px;
        height: 168px;
        left: 24px;
        top: 707px;
    }

    .resultado img, .copiar{
        display: none;
    }

    .botoes img{
        top: 452px;
        left: 16px;
    }

    .botoes p{
        top: 452px;
        left: 40px;
    }

    .btn{
        top: 485px;
    }
    .botoes .criptografar{
        left: 16px;
    }
    
    .botoes .descriptografar{
        top: 576px;
        left: 16px;
    }
    
    .footer h3{
        top: 930px;
        font-size: 12px;
    }
}